<div class="barspace">
  <%= image_tag("/images/registerview.png", :border=>'0', :width=>"985", :height=>"80") %>
</div>
<div class="contentss">
  <div class="contleft">
    <%= form_for(@user, :url => "/users/create_visitor", :html => { :multipart => true , :autocomplete => 'off'},:id=>"regForm") do |f| %>
      <%= render :partial => 'form',:locals => {:f => f} %>
    <% end %>
  </div>
</div>
<div class="fincontenidos"></div>