<div class="iniciocontenidos"></div>
<div class="contents">
  <h4>Quiénes Somos</h4>
  <p>Somos ANCHO DE MARCA (AM): Una organización que genera innovación en el sector publicitario a través de ideas creativas. </p>
  <h4>Qué hacemos</h4>
  <p>
    Post de Proyectos:
    <br />
  </p>
  <ul>
    <li>1. Trabajamos con necesidades puntuales.</li>
    <li>2. La necesidad de un cliente AM se convierte en propuestas de creativos AM.</li>
    <li>3. Las propuestas emitidas por la comunidad AM compiten entre sí llegando a conquistar y sorprender a diversas marcas.</li>
    <li>4. Los clientes AM cuentan con el respaldo de nuestro equipo en todo momento para completar, facilitar y agilizar el proceso de encontrar lo que buscan.</li>
    <li>5. Nuestros creativos AM reciben el reconocimiento de su trabajo, la recompensa acordada y los beneficios de ser parte de la comunidad AM.</li>
  </ul>
  <p>Formación:</p>
  <ul>
    <li>6. Generamos encuentros de intercambio de conocimiento y experiencias alrededor de la creatividad publicitaria.</li>
    <li>7. Convocamos a creativos destacados con amplia experiencia para ser tutores AM.</li>
    <li>8. Invitamos a expositores que tienen vínculos fuertes con la creatividad publicitaria a partir de diversos campos para asistir a nuestras charlas.</li>
  </ul>
  <p></p>
</div>
<div class="fincontenidos"></div>
<hr></hr>