<div class="iniciocontenidos"></div>
<div class="contents">
  <h4>Quiénes Somos</h4>
  <p>Por definición UTILERIA es el montaje y conjunto de objetos y enseres que aparecen en una escena.  Llamese ESCENA una vitrina, un salvapantallas, una infografia, un muro, la ambientación de un espacio, un mostrador, un stand comercial, etc. La Utileria CREA y CONSTRUYE lo que nuestros clientes imaginan.</p>
  <p><b>Somos una empresa dedicada a emprender proyectos para generar soluciones en ambientación, diseño y desarrollo utilero.</b></p>
  <p><b>Nuestro equipo UTILERO lo conforman</b> expertos en dirección artística, arquitectura,  decoración, diseño industrial y de interiores. </p>
</div>
<div class="fincontenidos"></div>
<hr></hr>
<style>
    p{
      position: relative;
      left: 10px;
    }
</style>