<div class="iniciocontenidos"></div>
<div class="contents">
  <h4>Beneficios AM</h4>
  <p>Compartimos conocimiento, intercambios de experiencias y formación académica.</p>
  <h4>Qué hacemos</h4>
  <p>
    Post de Proyectos:
    <br />
  </p>
  <ul>
    <li>1. Obtener nuevas formas de trabajar en un proceso creativo.</li>
    <li>2. Interactuar con otros creativos AM + directores + clientes = Networking.</li>
    <li>3. Discutir con tutores AM (Creativos destacados en el campo publicitario &ndash; que actúan como mentores &ndash; guías en proyectos especiales y/ó espacios de formación.)</li>
    <li>4. Tener acceso a las charlas gratuitas presenciales y en línea.</li>
    <li>5. Obtener descuentos y entradas libres a nuestras conferencias.</li>
    <li>6. Concursar en la selección de becas y cursos.</li>
  </ul>
  <p></p>
</div>
<div class="fincontenidos"></div>