<div class="iniciocontenidos"></div>
<div class="contents">
    <h4>De uso Comercial:</h4>
    <ul>
        <li>Ambientación de grandes superficies.</li>
        <li>Diseño de vitrinas y stands comerciales </li>
        <li>Diseño y desarrollo de mobiliario.</li>
        <li>Escenografías para fotografía, cine y televisión.</li>
        <li>Desarrollo de proyectos corporativos.</li>
        <li>Línea de trabajo de responsabilidad ambiental. (reutilización de material y proyectos responsables socialmente).</li>
    </ul>
    <h4>De uso personal:</h4>
    <ul>
        <li>Ambientación de eventos y fiestas.</li>

        <li>Decoración Interior y Exterior</li>

        <li>Asesorías en remodelaciones de apartamentos, casas, fincas.</li>

        <li>Proyectos individuales con nuestros equipos utileros.</li>
    </ul>
</div>
<div class="fincontenidos"></div>
<style>
    ul{
      line-height: 30px;
    }
</style>