<div class="iniciocontenidos"></div>
<div class="contents">
  <div class="contleft">
    <%= form_for(current_user, :url => update_creative_creative_path(current_user), :html => { :multipart => true },:id=>"regForm") do |f| %>
      <%= render :partial => 'users/form',:locals => {:f => f} %>
    <% end %>
  </div>
</div>
<div class="fincontenidos"></div>