<div id="course_form">
  <label for="project_type" style="font-size:18px;color: #414141;">Categoría:</label>
  <%= select_tag :course_category_id, options_for_select([["Seleccionar",""]]+Category.find_all_by_parent_id(nil).collect{|category| [category.category, category.id]},:selected => (params[:course] ? params[:course][:category_id] : '')), :onchange => "course_category(this)"%>
</div>
<br /><br /><br />
<div id="course_form_div">
  <% if params[:course] %>
    <%= render :partial => "get_course" %>
  <% end %>
</div>

<script>
  function course_category(s, loc) {
    if (jQuery(s).val() != '') {
      $.ajax({
        url: '/courses/' + jQuery(s).val() + '/get_course',
        success: function(data) {
          $('#course_form_div').html(data);
        }
      });
    }
  }
</script>